{% extends "_layout.html" %}
{% block content %}

<h1>Welcome to your profile page! </h1>

<h2>{{ user.username }}</h2>

<h3>Followers: {{ user.get_following() | length }}</h3>
<h3>Followed: {{ user.get_followers() | length }}</h3>



<style>
.image {
    margin: 30px;
}

#images {
    display: flex;
}
</style>

<div>
    <h3>Your images, you degenerate.</h3>
    <h4>CAUTION</h4>
    <h5>IMAGES UPLOADED WILL NOT BE REMOVABLE</h5>
    <div id="images">
        {% for image in images %}
        <div class="image ">
            <img  src="{{ aws_domain }}{{ image.user_image }}" width="200" height="225"/>
            <a href="{{ url_for('endorsements.index', id=image.id) }}">Click here to endorse!!!</a>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('users.upload') }}">Click here to Upload your dumb photos!!!</a>

</div>

<div>
    {# <form action="{{ url_for('users.follow') }}", method='POST'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Follow"/>
    </form> #}
    {% if current_user.is_authenticated and current_user.id != user.id %}
    {% if current_user.is_following(user) %}
    <a href="{{ url_for('follows.unfollow', id=user.id) }}" >Unfollow</a>
    {% elif current_user.is_requesting(user) %}
    <a href="{{ url_for('follows.cancel', id=user.id) }}" >Cancel Request</a>
    {% else %}
    <a href="{{ url_for('follows.follow', id=user.id) }}" >Follow</a>
    {% endif %}
    {% endif %}

</div>

{% endblock %}